body{
   padding: 50px 10%;
   background-color: #e9d9c0;
   background-image: url('img/blog_background.png');

   font-family: Verdana;
}
body.SMALL{
   /* Workaround to the huge size */
   transform: scale(0.9);
   -ms-transform: scale(0.9); /* IE 9 */
   -webkit-transform: scale(0.9); /* Safari and Chrome */
   -o-transform: scale(0.9); /* Opera */
   -moz-transform: scale(0.9); /* Firefox */
}


.article{
   margin-top: 10px;
   margin-bottom: 50px;
}
.article,.article .body{
   background-color: white;
   border-radius: 5px;
   border: 1px solid #c5af98;
}
.article .body{
   position: relative;
   top: -5px;
   left: 5px;
   min-height: 270px;
   padding: 5px;
   width: auto;
   overflow: visible;
}
.article .body.shadow{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.article .column.left{
   float: left;
   margin-left: 10px;
}
.article .column.right{
   margin-left: 120px;
}

.article .control{
   float: right;
   margin-right: 15px;
   position: relative;
   bottom: 20px;
}
.article .control a:before{
   content: url('img/blog_control_banner_fold.png');
   display: block;
   position: relative;
   top: -4px;
   left: -4px;
}
.article .control a{
   display: inline-block;
   margin: 0px 3px;
   text-decoration: none;
   color: #fff8ea;
   font-size: 14px;
   font-weight: bold;
   background-color: #ab8f7a;
   text-align: center;
   width: 70px;
}
.article .control a:after{
   content: '';
   display: block;
   height: 7px;
   background-image: url('img/blog_control_banner_ripple.png');
   background-repeat: repeat-x;
   position: relative;
   top: 4px;
}
.article .control a:hover:before{
   content: url('img/blog_banner_fold.png');
}
.article .control a:hover{
   background-color: #E84F47;
}
.article .control a:hover:after{
   background-image: url('img/blog_banner_ripple.png');
}


.article .header{
   font-size: 20px;
   color: #78675f;
   font-weight: bold;
   margin: 15px 0px;
}
.article .content{
   font-size: 16px;
   line-height: 26px;
   margin-bottom: 15px;
   color: #514841;
}
.article .more a{
   display: inline-block;
   border-radius: 15px;
   padding: 5px 15px;
   background-color: #AB8F7A;
   color: #fff8ea;
   text-decoration: none;
   font-weight: bold;
}
.article .more:hover a{
   background-color: #E84F47;
}

.article .additional{
   margin-top: 30px;
   border-top: 1px dashed #CAC7C0;
   padding: 15px 0px;
}
.article .additional .comments,
.article .additional .tags{
   display: inline-block;
   color: #736a61;
   font-size: 14px;
}
.article .additional .comments:before{
   content: url('img/blog_comments.png');
   margin-right: 5px;
}
.article .additional .tags{
   margin-left: 50px;
}
.article .additional .tags:before{
   content: url('img/blog_tags.png');
   margin-right: 5px;
}
.article .additional .tags span{
   margin: 0px 10px;
}

.article .banner:before{
   content: url('img/blog_banner_fold.png');
   display: block;
   position: relative;
   top: -4px;
   left: -4px;
}
.article .banner{
   width: 70px;
   background-color: #E84F47;
   color: white;
   position: relative;
   top: -5px;
   text-align: center;

   margin-bottom: 20px;
}
.article .banner:after{
   content: '';
   display: block;
   height: 7px;
   background-image: url('img/blog_banner_ripple.png');
   background-repeat: repeat-x;
   position: relative;
   top: 4px;
}
.article .banner .date{
   margin: 5px 0px;
}
.article .date:first-line{
   font-size: 19px;
   font-weight: bold;
}
.article .banner .category{
   margin: 25px 0px;
}

.article .share.active{
   border: 1px solid #c5ae9e;
   border-radius: 6px;
}
.article .share .button{
   border: 1px solid #c5ae9e;
   border-radius: 5px;
   width: 68px;
   color: #b0887e;
   font-weight: bold;
   background-color: #faf1e2;
   text-align: center;
   line-height: 25px;
   cursor: pointer;
}
.article .share:not(.active) .dropdown{
   display: none;
}
.article .share .dropdown img{
   width: 16px;
   height: 16px;
   border-radius: 3px;
   margin-top: 5px;
}
.article .share .dropdown img:first-of-type{
   margin-left: 3px;
}
.article .share .dropdown img:last-of-type{
   margin-right: 3px;
}


.menus{
   float: right;
}
.articles{
   margin-right: 320px;
}


.menu{
   margin: 10px 0px 20px;
   border: 1px solid #c1b59f;
   border-radius: 10px;
   background-color: white;
   width: 290px;
}
.menu .header{
   border-top-left-radius: 9px;
   border-top-right-radius: 9px;
}
.menu .header{
   padding: 10px 20px;
   background-color: #f6eddc;
   background-image: url('img/blog_background.png');
   border-bottom: 1px solid #c1b59f;
   color: #5a5046;
   font-size: 18px;
   font-weight: bold;
}
.menu .content{
   color: #514841;
}
.menu .content ul{
   line-height: 30px;
}
.menu .content a{
   color: inherit;
   text-decoration: none;
}
.menu .content a:hover{
   color: #E84F47;
   text-decoration: underline;
}


.fan{
   display: block;
   padding: 50px 0px;
   border-radius: 50px;

   background: -moz-radial-gradient(center, ellipse cover,  rgba(178,153,131,1) 0%, rgba(178,153,131,0.75) 25%, rgba(245,236,219,0) 100%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(178,153,131,1)), color-stop(25%,rgba(178,153,131,0.75)), color-stop(100%,rgba(245,236,219,0))); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse cover,  rgba(178,153,131,1) 0%,rgba(178,153,131,0.75) 25%,rgba(245,236,219,0.22) 78%,rgba(245,236,219,0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse cover,  rgba(178,153,131,1) 0%,rgba(178,153,131,0.75) 25%,rgba(245,236,219,0) 100%); /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse cover,  rgba(178,153,131,1) 0%,rgba(178,153,131,0.75) 25%,rgba(245,236,219,0) 100%); /* IE10+ */
   background: radial-gradient(center, ellipse cover,  rgba(178,153,131,1) 0%,rgba(178,153,131,0.75) 25%,rgba(245,236,219,0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b29983', endColorstr='#00f5ecdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.fan .header{
   display: inline-block;
   padding: 25px;
   border-radius: 50px;
   background-color: #F6EDDD;
   border: 1px solid #D8C7B1;

   font-size: 20px;
   font-weight: bold;
   color: #5a5046;
}
.fan .wings{
   height: 0px;
   overflow: visible;
}

.wings>*{
   color: gray;
   display: inline-block;
   min-height: 50px;
}
.dummy{
   height: 50px;
}