.contents{
   width: 100%;
   overflow: auto;
}
body{
   /*#94c9ff  148, 201, 255*/
   /*#3d72a2  61, 114, 162*/
   background: -moz-radial-gradient(center center, ellipse cover,  rgba(148, 201, 255, 1) 0px, rgba(61, 114, 162, 0) 80%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center top, 100%, color-stop(0px,rgba(148, 201, 255, 1)), color-stop(80%,rgba(61, 114, 162, 0))); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center center, ellipse cover,  rgba(148, 201, 255, 1) 0px,rgba(61, 114, 162, 0) 80%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center center, ellipse cover,  rgba(148, 201, 255, 1) 0px,rgba(61, 114, 162, 0) 80%); /* Opera 12+ */
   background: -ms-radial-gradient(center center, ellipse cover,  rgba(148, 201, 255, 1) 0px,rgba(61, 114, 162, 0) 80%); /* IE10+ */
   background: radial-gradient(center center, ellipse cover,  rgba(148, 201, 255, 1) 0px,rgba(61, 114, 162, 0) 80%); /* W3C */
   background-attachment: fixed;
   background-color: #3f75a6;
}
.contents{
   margin-top: 50px;
   font-family: Minion Pro;
}

.album{
   display: inline-block;
   width: 200px;
   margin-left: 150px;
   float: left;
   text-align: center;
   overflow: visible;
}
.album .thumb{
   display: inline-block;
   background-color: white;
   margin-bottom: 15px;
   position: relative;
   left: 5px;
   top: 5px;
}
.album .thumb img{
   width: 180px;
   height: 135px;
   border: 5px solid white;
   position: relative;
   left: -5px;
   top: -5px;
}
.album .title{
   font-family: Trajan Pro;
   font-size: larger;
   font-weight: bold;
}
.album .description{
   margin-left: -15px;
   width: 230px;
   white-space: pre-line;
}
.album .count{
   font-style: italic;
}


.section{
   margin: 35px 155px;
}
.section>.header{
   font-size: larger;
}

.videos,.pictures{
   width: 100%;
   overflow: auto;
}
.video{
   display: inline-block;
   width: 200px;
   margin-left: 150px;
   margin-bottom: 20px;
   float: left;
   text-align: center;
   overflow: visible;
}

.picture{
   display: inline-block;
   width: 200px;
   margin-left: 150px;
   margin-bottom: 20px;
   float: left;
   text-align: center;
   overflow: visible;
}
.picture img{
   width: 180px;
   height: 135px;
   border: 3px solid white;
}




.back.link{
   width: 80px;
   padding: 5px 0px 5px 25px;
   border-top-left-radius: 30px;
   border-bottom-right-radius: 30px;
   background-color: #33628D;

   font-weight: bold;
   font-style: italic;
   color: white;
}
.back.link:hover{
   background-color: #294F73;
   text-decoration: none;
}