
.gallery.section{
   display: block;
   width: 80%;
   margin: -40px auto;
   padding: 100px 0px;
   overflow: hidden;
}
.gallery.section{
   background: -moz-radial-gradient(center center, ellipse cover,  rgba(91, 211, 253, 1) 150px, rgba(63, 117, 166, 0) 80%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center top, 100%, color-stop(150px,rgba(91, 211, 253, 1)), color-stop(80%,rgba(63, 117, 166, 0))); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center center, ellipse cover,  rgba(91, 211, 253, 1) 150px,rgba(63, 117, 166, 0) 80%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center center, ellipse cover,  rgba(91, 211, 253, 1) 150px,rgba(63, 117, 166, 0) 80%); /* Opera 12+ */
   background: -ms-radial-gradient(center center, ellipse cover,  rgba(91, 211, 253, 1) 150px,rgba(63, 117, 166, 0) 80%); /* IE10+ */
   background: radial-gradient(center center, ellipse cover,  rgba(91, 211, 253, 1) 150px,rgba(63, 117, 166, 0) 80%); /* W3C */
}
.gallery.section:before{
   content: '';
   display: block;
   width: 100%;
   height: 154px;
   background-image: url('img/section_gallery_shadow.png');
   background-repeat: no-repeat;
   background-size: 100% 154px;
   background-position: center;
   margin: 116px auto -320px; /* (-t-154-m)px auto (t)px */

}
.gallery.section .window{
   width: 400px;
   height: 200px;
   margin: -50px auto 0px;
   border: 16px solid #3e6fa0;
   overflow: hidden;
}
.gallery.section .window .image.container{
   white-space: nowrap;
   overflow: visible;
}
.gallery.section .image.container img{
   width: 400px;
   height: 200px;
   display: inline-block;
   margin-right: -4px;
}

.gallery.section .arrow{
   display: block;
   cursor: pointer;
   width: 30px;
   height: 30px;

   border-radius: 20px;
   background-color: #3e6fa0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 15px;
}
.gallery.section .arrow{
   margin: -130px auto 100px;
   position: relative;
}
.gallery.section .right.arrow{
   background-image: url('img/right_arrow.png');
   left: 215px;
}
.gallery.section .left.arrow{
   background-image: url('img/left_arrow.png');
   left: -215px;
}

.gallery.section .tabs{
   display: block;
   width: 400px; /* Should be same as .window */
   height: 15px; /* Should be equal to .window border's thickness */
   margin: -13px auto 4px;
   text-align: center;
}
.gallery.section .tabs .tab{
   display: inline-block;
   cursor: pointer;
   width: 8px;
   height: 8px;
   border-radius: 8px;
   border: 1px solid #2b4566;
   background-color: #2b4566;
   margin: 0px 7px;
}
.gallery.section .tabs .tab.active{
   border: 1px solid white;
   background-image: linear-gradient(top, rgb(153,181,226) 26%, rgb(255,255,255) 63%);
   background-image: -o-linear-gradient(top, rgb(153,181,226) 26%, rgb(255,255,255) 63%);
   background-image: -moz-linear-gradient(top, rgb(153,181,226) 26%, rgb(255,255,255) 63%);
   background-image: -webkit-linear-gradient(top, rgb(153,181,226) 26%, rgb(255,255,255) 63%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.26, rgb(153,181,226)), color-stop(0.63, rgb(255,255,255)));
   background-image: -ms-linear-gradient(top, rgb(153,181,226) 26%, rgb(255,255,255) 63%);
}


.posts.section{
   display: block;
   width: 100%;
   overflow: auto;
   color: white;
   padding: 20px 0px 15px;
   margin-bottom: 2px;
   color: #12202D;
}
.posts.section.carved{
   padding-bottom: 32px;
}
.posts.section .header{
   text-transform: uppercase;
   font-family: Romul;
   font-size: 0.8em;
   color: #620E10;
}
.posts.section .header.glow{
   text-shadow: #FF262A 0px 0px 2px;
   color: #620E10;
}
.posts.section a:hover{
   color: #1D364E;
}
.posts.section a:hover>.header{
   color: inherit;
}
.posts.section:nth-of-type(odd){
   background: rgb(201,213,223); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(201,213,223,1) 0%, rgba(153,176,194,1) 87%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,213,223,1)), color-stop(87%,rgba(153,176,194,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(201,213,223,1) 0%,rgba(153,176,194,1) 87%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(201,213,223,1) 0%,rgba(153,176,194,1) 87%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(201,213,223,1) 0%,rgba(153,176,194,1) 87%); /* IE10+ */
   background: linear-gradient(top,  rgba(201,213,223,1) 0%,rgba(153,176,194,1) 87%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9d5df', endColorstr='#99b0c2',GradientType=0 ); /* IE6-9 */
}
.posts.section:nth-of-type(even){
   background: rgb(153,176,194); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(153,176,194,1) 13%, rgba(201,213,223,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,rgba(153,176,194,1)), color-stop(100%,rgba(201,213,223,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(153,176,194,1) 13%,rgba(201,213,223,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(153,176,194,1) 13%,rgba(201,213,223,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(153,176,194,1) 13%,rgba(201,213,223,1) 100%); /* IE10+ */
   background: linear-gradient(top,  rgba(153,176,194,1) 13%,rgba(201,213,223,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99b0c2', endColorstr='#c9d5df',GradientType=0 ); /* IE6-9 */
}
.posts.section:before{
   content: '';
   display: inline-block;
   float: left;
   margin: -20px 0px 0px 50%;
   width: 0px;
   height: 0px;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 15px solid #3f75a6;
}
.posts.section.carved:after{
   content: '';
   display: inline-block;
   float: left;
   margin: 17px -30px -35px 50%;
   width: 30px;
   height: 15px;
   background-image: url('img/downward_carve.png');
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: 30px 15px;
}

.posts.section .left{
   float: left;
   width: 50%;
   text-align: center;
   margin-top: -10px;
}
.posts.section .center{
   margin: 0px auto 0px 30px;
   text-align: center;
}
.posts.section .right{
   margin-left: 50%;
   width: 50%;
   text-align: center;
   margin-top: -10px;
}

.section .content{
   min-height: 50px;
   padding: 0px 30px;
}
.section .content>*{
   display: block;
}
.section .content>.link{
   display: inline-block;
   float: right;
   min-width: 35%;
}

.section .left .content{
   text-align: left;
}
.section .center .content{
   text-align: center;
}
.section .right .content{
   text-align: right;
}

.section .header{
   font-size: 1.2em;
   font-weight: bold;
   margin-bottom: 10px;
}