.central{
   margin: 15% 20% 0px;
   font-size: 1.1em;
   color: #12202D;
   text-align: center;
}
.error{
   color: #DD0101;
   padding: 5px 10px;
   background-color: #FFC0CB;
   border-radius: 25px;
   margin-bottom: 20px;
}