body>div{
   width: 90%;
   margin: 0px auto;
}

div.area{
   width: 30%;
   height: 25%;
   text-align: center;
   display: inline-block;
}
div.area>header{
   position: relative;
   top: 50%;
}
div.area:nth-of-type(odd){
   margin-left: 30%;
}
div.area:nth-of-type(even){
   margin-left: 5%;
}
div.area:first-of-type,
div.area:last-of-type{
   margin: 0px auto;
   display: block;
}

header{
   font-size: 20px;
   font-weight: bold;
}



a{
   color: #4D6185;
   text-decoration: none;
}
a:hover{
   color: #8DA1C5;
   text-decoration: underline;
}

.link{
   display: inline-block;
   text-align: center;
   width: 200px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;

   font-size: 14px;
   font-style: italic;
}
.link:first-line{
   font-size: 16px;
   font-weight: bold;
}

.picture{
   display: block;
   width: 100px;
   height: 100px;
   border: 5px solid white;
   background-color: white;
   background-repeat: no-repeat;
}


.area.TROUBLESHOOTING{
   border: 1px solid gray;
}



.wing{
   text-align: right;
   position: relative;
   top: -35px;
   left: -100px;
   width: 50%;
   margin: 0px auto;
}

.wing.troubleshoot{
   background-image: url('dot.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 10px;
}
.wing .feather{
   display: inline-block;
   width: 0px;
   height: 0px;
   overflow: visible;
   white-space: nowrap;
}
.celebrity{
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 30px 20px;

   background-color: white;
   background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
   background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

   z-index: 10;
}

.wing .link{
   color: black;
   opacity: 0.5;
}
.wing .link a{
   color: black;
}
.wing .link a:hover{
   color: black;
   text-decoration: none;
}
.wing .link:hover{
   color: #323232;
   text-decoration: underline;
}
.wing .link:hover a{
   color: #323232;
}